{%  extends 'shop/basic.html'%}

{% block title%}Title of about {% endblock%}



{% block css %}

          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }
          .carousel-indicators .active {
          background-color: blue;
            }
          .col-md-3 img{
<!--          width:100%;-->
<!--          height:auto;-->
          max-width:160px%;
          height:260px;
          }
          body .carousel-indicator li{
          background-color: blue;
          }
          body .carousel-indicators{
          bottom: 0;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }
          .carousel-control-prev,
          .carousel-control-next{
          top: auto;
          bottom: auto;
          padding-top: 150px;
          }
           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }

{% endblock%}



{% load static %}
{% block body %}

        <div class="container">
            <!--Slideshow starts here -->
            {% for Produts, nslides in allproducts %}
        <!--                <h1> {{Produts.0.category}}  </h1>-->
                    <h4 class="my-4">Flash Sale On {{Produts.0.category}} - Recommended Items</h4>
            <div class="row">
                    <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
                        <ul class="carousel-indicators">
                          <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

                           {% for i in range %}
                          <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
                          {% endfor %}
                        </ul>


                        <div class="container carousel-inner no-padding">

                          <div class="carousel-item active">
                            <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                <img src='/media/{{Produts.0.img}}' class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{Produts.0.produts_name}}</h5>
                                    <p class="card-text">{{Produts.0.Decs}}</p>
                                    <p class="price">{{Produts.0.price}}</p>
                                  <button ID="pr:{{Produts.0.id}}" class="btn btn-primary cart">Add To Cart</button>
                                 <a href="/shop/productview/{{Produts.0.id}}"> <button id="qv:{{Produts.0.id}}"
                                                                                class="btn btn-primary cart">Quick View</button></a>

                                </div>
                              </div>
                           </div>


                            {% for i in Produts|slice:"1:"%}
                            <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                <img src='/media/{{i.img}}' class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">{{i.produts_name}}</h5>
                                  <p class="card-text">{{i.Decs}}</p>
                                    <p class="price">{{i.price}}</p>
                                  <button id="pr:{{i.id}}" class="btn btn-primary cart">Add To Cart</button>
                                  <a href="/shop/productview/{{i.id}}"> <button id="qv:{{i.id}}"
                                                                                 class="btn btn-primary cart">Quick View</button></a>
                                </div>
                              </div>
                            </div>
                            {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
                          </div><div class="carousel-item">
                            {% endif %}
                            {% endfor %}

                        </div>







                    </div>
                    </div>
                  <!-- left and right controls for the slide -->
                                <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                        <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
              </div>

            {% endfor%}
        </div>

{% endblock %}


{% block js%}

<script>
    console.log('working');

    if(localStorage.getItem('cart')==null){
    var cart = {} ;
    }

    else
    {

           cart = JSON.parse(localStorage.getItem('cart'));
           document.getElementById('cart').innerHTML = Object.keys(cart).length;

    }

                                               <!--make a function to click the cart-->

    $('.cart').click(function(){
        console.log('clicked');

        var strid = this.id.toString();
        console.log(strid);

          <!--Set the cart add-->
       if(cart[strid] != undefined )
       {
       cart[strid] = cart[strid] + 1;
       }

       else
       {

       cart[strid] =  1;
       }

       console.log(cart);
                                                             <!--local storage update-->
       localStorage.setItem('cart',JSON.stringify(cart));


    });

$('#popcart').popover('show');
document.getElementById('popcart').setAttribute('data-content','<h5>hello</h5>');


</script>



{% endblock%}

